.header {
    padding-top: 40px;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 40px;
        background: #f3f3f3;
        top: 0;
        left: 0;
        padding: 0 80px;
    }
    .group-flex {
        position: relative;
        padding: 0 80px;
        height: 85px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .logo {
            a {
                display: block;
            }
        }
        
        .utill-area {
            display: flex;/* 여백 지우기 */
            position: absolute;
            right: 80px;
            top: -40px;
            gap: 35px;
            
            a {
                font-size: 14px;
                color: #000;
                line-height: 40px;
                font-weight: 600;
            }
        }

        // gnb
        .gnb {

            .gnb-list {
                width: 1200px;
                margin: 0 auto;
                display: flex;
                text-align: center;
                align-items: center;
                height: 85px;
    
                .gnb-item {
                    flex: 1;
                    .link-depth {
                        // display: block;
                        font-weight: 600;
                        font-family: $ft-en;
                        text-transform: uppercase;
                        &:hover {
                            border-bottom: 2px solid #000;
                        }
                    }
    
                }
            }
        }

        // icon-area
        .icon-area {
            display: flex;
            gap: 35px;
        }
    
    }

    
}